<section>
	<h2>Contact us</h2>
	<span><strong>Phone: </strong>07794 867199</span>
	<span>
		<strong>General enquiries: </strong> <a href="mailto:info@norwichcounsellinggroup.co.uk">info@norwichcounsellinggroup.co.uk</a>
	</span>
	<span>
		<strong>Darran Biles: </strong><a href="mailto:darran@norwichcounsellinggroup.co.uk">darran@norwichcounsellinggroup.co.uk</a>
	</span>
	<span>
		<strong>Kaz Lever: </strong><a href="mailto:kaz@norwichcounsellinggroup.co.uk">kaz@norwichcounsellinggroup.co.uk</a>
	</span>
	<span>
		<strong>Camilla Nowell: </strong><a href="mailto:camilla@norwichcounsellinggroup.co.uk">camilla@norwichcounsellinggroup.co.uk</a>
	</span>
	<span>
		<strong>Duncan Yuile: </strong><a href="mailto:duncan@norwichcounsellinggroup.co.uk">duncan@norwichcounsellinggroup.co.uk</a>
	</span>
</section>