<h2>Darran Biles MA (Couns.), MBACP</h2>
<%= image_tag image_path('darran-image.png'), class: "counselor-image" %>
<p>
	I am a BACP registered counsellor/therapist who does short, medium and long term work with a range of clients and concerns. I am particularly interested in ‘experience beyond roles’ – ways of living and relating that move beyond the ones to which we commonly conform, and do fuller justice to our complexity as human beings. Many of us experience thoughts, feelings and impulses which do not seem to fit with the expectations of people around us – family, friends, partners, colleagues or society in general – and which have no easy outlet. I see counselling as a place where these unique aspects of a person can be welcomed, valued and explored.
</p>
<p>
	I trained as a counsellor after several years of living in France, where my experiences in retreat-type environments opened up alternative possibilities for relating and communicating with others. My original studies were in Philosophy and English Literature and I retain a strong interest in psychoanalytic and other theoretical perspectives. Over the last few years meditation and mindfulness have become more and more central to me. In addition to my counselling practice, I work at UEA as a mental health mentor and teach there on the Postgraduate Certificate in Counselling Skills.
</p>
<p>
	If you think you might be interested in working with me, please call on 07794 867199 or email <a href="mailto:darran@norwichcounsellinggroup.co.uk">darran@norwichcounsellinggroup.co.uk</a> to book an initial exploratory session, or with any questions you may have.
</p>