<h2>Counsellor Biographies</h2>
<p>
	Click on an image for more information to help you decide who might be the right counsellor for you to work with:
</p>
<div class="gallery">
		<div class="gallery-item">
			<h3>Duncan Yuile</h3>
			<%= link_to image_tag(image_path('duncan-image.png')), counselor_duncan_path %>
		</div>
		<div class="gallery-item">
			<h3>Darran Biles</h3>
			<%= link_to image_tag(image_path('darran-image.png')), counselor_darran_path %>
		</div>
		<div class="gallery-item">
			<h3>Kaz Lever</h3>
			<%= link_to image_tag(image_path('kaz-image.png')), counselor_kaz_path %>
		</div>
		<div class="gallery-item">
			<h3>Camilla Nowell</h3>
			<%= link_to image_tag(image_path('camilla-image.png')), counselor_camilla_path %>
		</div>	
</div>