<h2>Kaz Lever BSc Psychology (1st class Hons), MA (Couns.), MBPsS, MBACP</h2>
<%= image_tag image_path('kaz-image.png'), class: "counselor-image" %>
<p>
	I trained as a person-centred counsellor/therapist at the University of East Anglia (UEA) having first studied other disciplines, including psychoanalytic and integrative perspectives. I have a background in the fine arts and came to counselling initially as a client myself. I have experienced myself the value that a trusted, compassionate therapist can have in enabling growth, fresh perspectives and a letting-go of what can sometimes be long held emotional pain.
</p>
<p>
	I will work with you at your own pace – I have no expectations and do not impose theories or unrealistic targets. You are free to experience what comes up for you in a supportive, accepting environment. Person-centred thinking, while not the only therapeutic approach I draw upon, entrusts power to the client, seeing them as ‘expert’ in their own unique journey to recovery. My lead, therefore, will come from you and what you wish to bring – in whatever form.
</p>
<p>
	I work in private practice 
	<a href="http://kazlever.org">www.kazlever.org</a> 
	and teach on the Postgraduate Certificate in Counselling Skills at UEA. I am a graduate member of the British Psychological Society and a member of the British Association for Counselling and Psychotherapy.
</p>
<p>
	If you have any questions or would like to make an appointment to see me, I can be contacted via email at <a href="kaz@norwichcounsellinggroup.co.uk">kaz@norwichcounsellinggroup.co.uk</a> or you can call on 07794 867199.  
</p>
<p>
	I look forward to working with you.
</p>