<h2>Duncan Yuile PG Dip. (Couns.), MBACP</h2>
<%= image_tag image_path('duncan-image.png'), class: "counselor-image" %>
<p>
	If you’re looking for friendly and professional support I can help you find the strength and inner resources to work through your concerns.
</p>
<p>
	A qualified counsellor and psychotherapist, I came to counselling as a client, experiencing first-hand the transformative potential of the therapeutic process. Today I continue to witness in clients the remarkable progress the Person-Centred approach can afford.
</p>
<p>
	The therapeutic relationship can offer you something quite unique – the opportunity to be fully accepted as you are and the time and space to focus on your needs. This can give us a better understanding of ourselves and the ability to work more effectively and creatively with our problems.
</p>
<p>
	As a therapist I am committed to helping you resolve your personal difficulties and move forward in the way that is best for you.
</p>
<p>
	If you would like to book an initial exploratory session or ask me any questions please call the clinic reception on 01603 665173 or email <a href="mailto:duncan@norwichcounsellinggroup.co.uk">duncan@norwichcounsellinggroup.co.uk.</a> I can offer a limited number of appointments at a concessionary rate.
</p>
<p>
	I am a member of the British Association for Counselling and Psychotherapy (BACP).
</p>