<h2>Camilla Nowell PG Dip. (Couns.), MBACP</h2>
<%= image_tag image_path('camilla-image.png'), class: "counselor-image" %>
<p>
	Finding the right counsellor/psychotherapist can feel like a daunting prospect so our initial session will be as informal as possible, a chance to meet each other and touch on what brings you to counselling, and for us to see if we can work together. I offer a welcoming space for you to do as much or as little self-exploration as you would like.
</p>
<p>
	I am a fully qualified professional counsellor trained in the person-centred approach and  I hold a Post-graduate Diploma in Counselling from the UEA. I am a full member of the British Association for Counselling and Psychotherapy and am guided by its ethical framework. As well as working privately, I have worked at the UEA Counselling Service and the Norwich Centre for Personal and Professional Development.
</p>
<p>
	My own journey towards becoming a counsellor really began in my early twenties when I started to have counselling myself. The unconditional acceptance offered to me by my counsellor allowed me to accept and integrate difficult aspects of my life experience, and to embark on a journey of self-discovery that continues to this day.
</p>
<p>
	I believe very deeply in our inherent capacity to discover a more authentic relationship to ourselves, and that with the right support, love, time and patience it is possible to  transform so many aspects of our lives.
</p>
<p>
	If you would like an informal chat or to make an appointment, I can be contacted by email at <a href="camilla@norwichcounsellinggroup.co.uk">camilla@norwichcounsellinggroup.co.uk</a>  or on 07794 867199.
</p>