<section>
  <h2>What is counselling?</h2>
  <p>
	Counselling is a talking therapy that offers you the opportunity to explore your concerns with a trained professional and find more creative and constructive ways of relating to others and to yourself. It can provide a fresh perspective on problems and a safe space to try out new ways of being.
  </p>
  <p>
	It is similar to psychotherapy and can be short, medium or long term, focusing on issues of the moment or ones that feel more ingrained and have been with a person for many years. Counselling is not the same thing as straightforward advice; many counsellors will give no advice at all and will work with the client to help them access their own inner resources.
  </p>
</section>
<section>
  <h2>Why would you consider counselling?</h2>
  <p>
	Many people will seek counselling at some point in their lives, and for a variety of reasons. Some may feel they are not realising their full potential and want to explore how best to do so, while others may simply have a sense that something is not working in their lives. Of course, a lot of people seek counselling because of a specific issue such as:
	<ul>
      <li>Anxiety</li>
      <li>Depression</li>
      <li>Low self-esteem</li>
      <li>Relationships</li>
      <li>Loss</li>
      <li>Loneliness</li>
      <li>Stress</li>
      <li>Anger</li>
      <li>Existential issues</li>
    </ul>
  </p>
  <p>
	Counselling is a recognised way of dealing with these and other issues, and is becoming an increasingly popular choice, with many people being referred by their G.P. and many more deciding to come independently.
  </p>
  <p>
    Recent studies verified by the International Centre for Clinical Excellence have shown that 80% of people who come for counselling and psychotherapy experience improvement compared with those who do not seek help.
  </p>
</section>
<section>
  <h2>The British Association for Counselling and Psychotherapy</h2>
  <p>
	In Britain the BACP is the largest professional body that supports and regulates counsellors and psychotherapists. If a counsellor is a member of the BACP it is an assurance that they have completed an accredited counselling/psychotherapy training course and have signed up to the association’s <a href="http://bacp.co.uk/ethical_framework/" target="_blank">Ethical Framework for Good Practice in Counselling and Psychotherapy.</a>
  </p>
</section>
