<section>
	<h2>Who are we?</h2>
	<p>
		Norwich Counselling Group is made up of four independent practitioners: Darran Biles, Kaz Lever, Camilla Nowell and Duncan Yuile. Below you will find individual biographies of each of us.
	</p>
	<p>
		We have all worked at the University of East Anglia’s (UEA) Counselling Service and at the Norwich Centre for Personal & Professional Development. We have now come together to offer a private counselling service in the heart of Norwich. All of us trained on UEA’s Postgraduate Diploma in Counselling – a Person-Centred training course established and developed by the renowned counsellor and psychotherapist Brian Thorne.
	</p>
	<p>
		We are all members of the British Association for Counselling and Psychotherapy (BACP) and abide by its code of ethics.
	</p>
</section>
<section>
	<h2>What can we offer?</h2>
	<p>
		We recognise that everybody’s experience will be unique and we will work with you towards an understanding and resolution of the difficulties in your life. We begin with what each person wishes to bring in whatever form that takes.
	</p>
	<p>
		<strong>We can work with many issues, such as: </strong>
		<ul>
    	<li>Anxiety</li>
    	<li>Depression</li>
    	<li>Low self-esteem</li>
    	<li>Relationships</li>
    	<li>Loss</li>
    	<li>Loneliness</li>
    	<li>Stress</li>
    	<li>Anger</li>
    	<li>Existential issues</li>
  	</ul>
	</p>
</section>
<section>
	<h2>What do we charge?</h2>
	<p>
		We charge £10 for a one-off exploratory session of 30-40 minutes. Thereafter, should you and your counsellor agree to continue, further sessions are of an hour each and are charged at £35 per session. 
	</p>
	<p>
		Below are details of our charges, contract and confidentiality policy.
	</p>
	<span>
		<strong>One-off exploratory session (30-40 minutes):</strong> £10
	</span>
	<span>
		<strong>Further sessions (1 hour):</strong> £35 (Concessions may be available. Please discuss with your counsellor.)
	</span>
	<span>
		<strong>Contract:</strong> a verbal agreement with an individual counsellor to be made regarding session times and regularity
	</span>
	<span>
		<strong>Cancellations:</strong> sessions cancelled/missed with less than 24 hours notice will be charged at the full rate
	</span>
	<span>
		<strong>Confidentiality:</strong> this is absolute unless the counsellor has serious concerns for your or another’s safety. In such an instance your counsellor would endeavour to discuss the matter with you. We adhere to the BACP ethical framework. 
	</span>
	<p>
		IF YOU WOULD LIKE AN INFORMAL CHAT WITH ANY OF US PRIOR TO MEETING, PLEASE CALL OR EMAIL VIA THE DETAILS ON THE <%= link_to "CONTACT PAGE.",contact_path %>
	</p>
</section>
<section>
	<h2>Service hours</h2>
	<p>
		Monday-Friday, 9am-5pm. (Some early morning, evening and weekend appointments are available - please ask.)
	</p>
	<p>
		We work from Rooms in central Norwich.
	</p>
</section>