/* MIXINS, VARIABLES, ETC. */

$textDefault: #333;
$navText: #333;
$navTextHover: #F2F2F2;

$link: #0088CC;
$linkHover: #000;

$background: #D6D6D6;
$mainBackground: #F2F2F2;
$navBackground: #D6D6D6;
$navBackgroundHover: #333;

$mainBorderShadowColor: #333;

/* UNIVERSAL */

html {
	overflow-y: scroll;
}

body {
  color: $textDefault;
  font: 15px/22px Helvetica,Arial,Verdana,sans-serif;
  line-height: 20px;
  margin: 0;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background;
} 

a {
  color: $link;
  text-decoration: none;
    &:hover {
    color: $linkHover;
    }
}

/* IMAGES */

.banner {
  padding: 0;
  -moz-box-shadow: 0 3px 8px $mainBorderShadowColor;
  -webkit-box-shadow: 0 3px 8px $mainBorderShadowColor;
  box-shadow: 0 3px 8px $mainBorderShadowColor;
}

.counselor-image {
  float: left;
  margin: 0 10px 0 0;
}

.gallery {
  &:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
  }
  .gallery-item {
    padding: 5px;
    float: left;
    .title {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* HEADER */

nav {
  &:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
  }
  ul {
    width: 980px;
    float: left;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: $navBackground;
    li {
      float: right;
      a {
        display: block;
        padding: 8px 15px;
        font-weight: bold;
        font-style: italic;
        color: $navText;
        -moz-border-radius: 15px;
        border-radius: 15px;
        &:hover {
          background-color: $navBackgroundHover;
          color: $navTextHover;
        }
      }
    }
  }
}

/* BODY */

#main {
  padding: 20px 40px;
  clear: both;
  background-color: $mainBackground;
  -moz-box-shadow: 0 3px 8px $mainBorderShadowColor;
  -webkit-box-shadow: 0 3px 8px $mainBorderShadowColor;
  box-shadow: 0 3px 8px $mainBorderShadowColor;
}

section {
  margin-top: 40px;
}

span {
  display: block;
}

/* FOOTER */
footer {
  float: right;
  margin-top: 10px;
  margin-bottom: 45px;
  font-size: 12px;
}