<footer>
	<span> 
		Created with Ruby on Rails by
		<a href="http://joepeloquin.com/" target="_blank">Joe Peloquin</a> 
	<span>
	<span>
		Norwich Cathedral banner photo by 
		<a href="http://flickr.com/photos/michaeljohnbutton/8387496034" target="_blank">Michael Button</a> 
	</span>
</footer>