<header>
	<div class="banner">
		<%= image_tag(image_path('norwich-snow-lake-banner-image.jpg'))%>
	</div>
	<nav>
		<ul>
			<li><%= link_to "Choose a counsellor", counsellors_path %></li>
			<li><%= link_to "Our service", root_path %></li>
			<li><%= link_to "What is counselling?", general_path %></li>
		</ul>
	</nav>
</header>